* {
	margin:0px;
	padding:0px;
}


#header {
	margin:auto;
	width:100%;
	height: 100px;
	font-family:'Courier New', Courier, monospace;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.logo {
	display: flex;
	float: left;
	width: 35%;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.logo img {
	display: flex;
	float: left;
	flex-direction: column;
	height: 100px;
	align-content: center;
	align-items: center;
}

.phrase {
	display: flex;
	float:right;
	width: 35%;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.phrase p {
	display: flex;
	float:right;
	flex-direction: row;
	font-size: 25px;
	align-content: center;
	align-items: center,
}

.menu {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	width: 55%;
}

ul, ol {
	list-style:none;
}

.nav {
	width: 60vw;
	display: flex;
	justify-content: center;
	align-content: center;
}


.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:14px 16px;
	display:flex;
}

.nav li a:hover {
	background-color:#434343;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:125px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-120px;
	top:0px;
}

.clothesContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: flex .4s ease;
    position: relative;
    cursor: pointer;
}

.section .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .8s ease;
}

.section .content {
    z-index: 2;
    font-family: "Bahianita";
    font-size: 2rem;
}

.section:hover {
    flex: 2;
}

.section:hover .overlay {
    background-color: rgba(0, 0, 0, 0);
}

#STREET {
    background-image: url(./assets/camiseta\ roja.JPG)
}

#WEAR {
    background-image: url(./assets/chaleco.JPG)
}

#FORMEN {
    background-image:url(./assets/sueter\ amarillo.JPG)
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 100%;
	background: rgb(110, 105, 105);
}

.social {
    display: flex;
    flex-direction: row;
}

.copyrightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.copyrightContent {
    display: flex;
    align-items: center;
}

.copyright {
    color:#fff;
    font-size: 0.8rem;
    font-family: "Big Calson";
}

@keyframes donut-chart-fill {
    to { stroke-dasharray: 0 100; }
}